@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@media only screen and (max-width: 991px) {
    .mobile-esconde{ display: none !important; }
}

@media only screen and (min-width: 992px) {
    .desktop-esconde{ display: none !important; }
}


body{
    background-image: url(../src/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    color: #292929;
}

/*___________TOPO___________*/

header{
    height: 25%; 
    width: 100%;
    background: rgba(255, 255, 255, 0.79);
}

.login{
    background: rgba(228, 225, 252, 0.77);
    padding: 5px;
    width: 145px;
    float: right;
    text-align: center;
    font-size: 13px; 
    border: 2px solid #0a5db1;
    border-radius: 13px;
    font-family: "Verdana";
    margin-top: 5px;
    margin-right: 5px;
}

.login a{
    text-decoration: none;
    color: #121212;
}

.logo img{
    padding-top: 0px;
    width: 360px;
}


/*___________MENU___________*/

.menu nav{
    background: rgb(2, 53, 118);
    height: 30px;
    width: 100%;
}

.menu nav ul{
    list-style-type:none;
    height: 30px;
  
}

.menu nav ul li{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 24%;
    text-align: center;
    color:#fff; 
    font-size: 1.2em; 
    font-family:'Verdana'; 
    border-right: 1px solid #000;
}

.menu nav ul li:last-child{
    border-right: 0;
}

.menu nav ul li a{
    text-decoration: none;
    color: #f4eeee;
    text-shadow: 1px 0.5px 0.5px #000;
    display: block;
    
}
.menu nav ul li a:hover{
    color: #6aa9f7;
   
}

.botao-menu{
	border: 0;
	width: 25px;
	height: 25px;
	margin-left: 0.6rem;
	background-color: transparent;
	
}

.menu-mobile{
	background-color: rgb(2, 53, 118);
	
}

/*___________MENU APÓS O LOGIN___________*/

.menu2 nav{
    background: rgb(2, 53, 118);
    height: 30px;
    width: 100%;
}

.menu2 nav ul{
    list-style-type:none;
    height: 30px;
  
}

.menu2 nav ul li{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 19%;
    text-align: center;
    color:#fff; 
    font-size: 1.2em; 
    font-family:'Verdana'; 
    border-right: 1px solid #000;
    
}

.menu2 nav ul li:last-child{
    border-right: 0;
}

.menu2 nav ul li a{
    text-decoration: none;
    color: #f4eeee;
    text-shadow: 1px 0.5px 0.5px #000;
    display: block;
    
}
.menu2 nav ul li a:hover{
    color: #6aa9f7;
   
}


.menuLateral {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, #20589f, #ffffff );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.menu-alinhado{
	justify-content: space-between;
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
}

.menu-alinhado a{
	text-decoration: none;
}

.menuLateral ul{
	list-style-type: circle;
	color: #0a5db1
	
}

.menuLateral ul li{
	margin-top: 20px;
}

.menuLateral ul li a{
	text-decoration: none;
	font-size: 16px;
	font-family: 'Verdana';
	color: #05010f;
	font-weight:bolder
	
}

.menuLateral h3{
	font-family: 'Verdana';
	font-size: 20px;
	color: rgb(2, 33, 118);
}

/*___________TÍTULOS___________*/

.titulo{
    font-size: 30px;
    font-family: "Verdana";
    color: #292929;
    text-align: center;
}

h1{
    text-align: center;
    color: #0a5db1;
    font-size: 30px;
}

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.resolvido{
    background-color:#3cec9ab2;
    text-align:  center !important;
    font-family: 'Verdana';
    

}

h3{
    text-align: center;
    color: rgb(2, 53, 118); 
}

.subtitulo{
    margin-top: 4%;
    padding-left: 4%;
    display: inline-block;
    text-align: center justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #023576;
    text-shadow: 1px 1px 1px #b3d3fc;
}


/*___________CORPO E TEXTOS___________*/


section{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    min-height: 100%;    
}

.wrapper{
    margin: 0 auto;
    margin-left: 10%;
}

p{
    color: #191a1c;
    font-size: 18px;
    width: 70%;
    margin: auto;
    font-family: 'Verdana';
}

.erro{
    text-align: center;
    color: rgba(255, 39, 0, 0.89);
    font-size: 19px;
}


/*___________CORPO DO INDEX___________*/


.content{
    margin: 3% 1% 5% 6%;
    border: solid 1% #000;
    border-radius: 10px;
    width: 40%;
    float: left;
    text-align: center;
}
.content p{
    width: 90%;
    padding-bottom: 1em ;
    text-align: justify;

}
.content img{
    float: none;
    border-style: none;
    margin-bottom: -2%;
    border-radius: 10px;
    width: 10em;
    height: 5em;
}




/*___________CADASTRO___________*/


.slog{
    margin-top: -20px;
    color: #0a5db1;
}
#cadastro{
    margin: auto;
    width: 70% ;
    min-width: 500px;

    height: auto;
}



legend, label{
	font-family: "arial";
	font-size:12px;
    font-weight:bold;
    color: #0a5db1;
}
label{
	
	height:25px;
    display: inline-flex;
	text-align:right;
	margin-right: 10px;
	font-family: 'Verdana';
	font-size:12px;
	font-weight:bold;
}
#cadastrar{
    float: left;
    margin-top: 5%;
    margin-bottom: 4%;
}

label b{
    color: red;
}
fieldset{
    opacity: 0.8;
    margin-left: 5%;
    margin-bottom:5%;
    background: rgba(255, 255, 255, 0.97);
    border-radius: 10px;
}
fieldset p{
    font-family:arial;
	font-size: 25px;
    font-weight:bold;
    color: #0a5db1;
    
}


#img_pessoal{
    background-image: url(../src/pessoal2.png);
    background-size: 30%;
    float: left;
    width: 350px;
}
.img_log{
    background-image: url(../src/login2.png);
    background-size: 17%;
    
    width: 350px;

}
.img_log, #img_pessoal{
    background-position: bottom right ;
    background-repeat: no-repeat;
}




/*___________LOGIN___________*/


#LogIn {
    /* display: block; */
    width: 40%;
    /* position: relative; */
   
    /* justify-content: center; */
}

#LogIn fieldset p{
    text-align: center;
    margin-left: auto;
    margin-bottom: 5%;
}

#aCadastro{
    margin: 0;
    text-decoration: none;
	font-family: 'Verdana';
	color:  #0a5db1
}

#aCadastro:hover{
   color: #1bcc52;
	text-decoration:underline;
}
.entrar{
    font-family: 'Verdana';
	color: #ffffff;
	font-size: 15px;
	background-color: #2c5b90;
	border-color: inherit;
    margin:0;
    line-height: 1.6rem;
}
#logologin{
    width: 50%;
    margin-left: 25%;
   
}

.alinhado{
	justify-content: space-between;
	display: flex;
	margin-top: 3rem
}

.margem{
	margin: 0 11.590rem
}

.margem-top{
    margin-top: 1.650rem;
}
.justify{
	display: flex;
	justify-content: center;
	margin-bottom: 0.2rem;
	margin-top: 1.2rem
}

.atualizar-justify{
	display: flex;
	
	margin-bottom: 1.5rem;
}

.conteudo{
	display: flex;
	justify-content: center
}
/*___________SERVIÇOS___________*/

.produto{
    font-size: 18px;
    width: 500px;
    height: 450px;
    float: left;
    margin: 0 0 20px 20px;
    background: #023576;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #f7f7f7;
    text-align: center;
}

.produto img{
   width: 420px;
}



/*___________SLIDER DO INDEX___________*/


#slider, #id{
    
    width: 100%;
    height: 330px;
    background: white;


}
 



/*___________CONTATO___________*/


#contato{
    width: 50%;
    position: relative;
    margin: 0 auto;
	
}

.contatos h1{
    margin-bottom: 5%;
}


textarea{
    width: 60%;
    padding-left: 10px;
    height: 80px;
    line-height: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

#enviar{
    margin-left: 20%;
    width: 10%;
    height: 25px;
    border-radius: 3px;
    width: 90px;
}
.contatos input{
    border-radius: 5px;
    border-style: solid;
    font-family: 'Verdana';
}


/*___________MEUS DADOS___________*/



.dados-fundo{
	background-image: linear-gradient(180deg, rgba(194, 220, 237, 0.54), rgba(255, 255, 255, 0.54));
	width: 60%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 10px 30px 10px 30px;
	border: 1px solid #000;
}

.dados-fundo h1{
	text-align: left !important;
}

.dados p{
    font-size: 1em;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1em;
	
	margin: 0 auto;
   
}

.dados p:first-child{
    border-top: 1px solid black; 
}
.linkancora h3{
    margin-left: 21%;
    margin-top: 2%;
}
.linkancora h3 a{
    text-decoration: none;
    border-radius: 5px;
    float: left;
    margin-left: 5%;
}



/*___________MEUS SERVIÇOS___________*/

select{
    padding: 0.3%;
    font-family: 'Verdana';
    font-size: 16px;
}

#ativar, #cancela_servico{
	margin-top: 0.8rem;
	font-family: 'Verdana';
	color: #ffffff;
	font-size: 15px;
	background-color: #2c5b90;
	border-color: inherit;
    line-height: 1.6rem;
    

}

/*___________ATUALIZA___________*/

#attField{
    width: 0%;
    margin: 0 auto;
}

.centraliza{
    width: 80%;  
    margin-top: 5%;
    padding: 5%;
}
.centraliza label{
    width: 35%;
}


/*___________SOBRE___________*/

#sectionSobre p{
    text-align: justify;
    
}



/*___________FOOTER___________*/

footer{
    display: inline-block;
    
    width: 100%;
   
}

footer h5{
    text-align: center;
}




@media only screen and (max-width: 700px){
	.img-responsive{
	width: 100% !important;
		
}
	.content{
		width: inherit !important;
	}
	
	.conteudo1{
		display: inline-flex
	}
	
	.conteudo2{
		display: inline-flex
	}
	
	.titulo{
    font-size: 30px;
    font-family: "Verdana";
    color: #292929;
    text-align: center;
	}
	
	.menu-mobile nav ul li{
		width: auto !important;
		
	}
	
	.menu-mobile2 nav ul li{
		width: auto !important;
		
	}
	
	#contato{
		width: 80% !important;
		margin: 0 auto;
	}
	
	.contatos{
		justify-content: center
	}
	
	#img_pessoal{
    background-image: none !important;
    background-size: 0 !important;
    width: auto !important;
}
	.cadastroTitulo{
		font-size: 15px;
		width: 100% !important;
		margin: auto 25px;
	}
	
	.img_log{
    background-image: none !important;
    background-size: 0 !important;
    width: auto !important;

}
	
	#cadastro{
		min-width: 100% !important;
		height: auto !important;
	}
	
	
	.produto{
    font-size: 18px;
    width: auto !important;
    height: auto !important;
    
    margin: 0 20px 20px 0 !important;
    background: #023576;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #f7f7f7;
    text-align: center;
	}

	.produto img{
	   width: 100% !important;
	}
	
	#logologin{
		display: none !important 
	}
	
	fieldset p {
    font-family: 'Verdana';
    font-size: 15px;
    font-weight: bold;
    color: #0a5db1;
    margin-left: 0;
	width: auto !important;
}
	
	.conteudo{
	display: flex;
	justify-content: center;
		margin: 0 !important
}
	
	#LogIn {
    /* display: block; */
    width: auto !important;
    /* position: relative; */
   
    /* justify-content: center; */
}
	
	.justify{
		margin-bottom: 0.5rem;
	
	}
	
	.margem{
	margin: 0 30px !important
}
	
	.dados p {
    width: 87% !important;
	text-align: left;
	font-size: 0.97rem
}
	
	#attField {
     width: 80%; 
     margin-left: 5% !important;
      
}
	.dados{
    width: 100%;
	margin: 0 auto
	
}
	
	.dados-fundo{
		width: 80%;
	
	}

    
    .busca-promotor{

        margin-top: 1.650rem !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    fieldset{
        margin-left: 0% !important;
    }

    
.fundo-erro{
    background-color: transparent;
    width: 80% !important;
    height: 80% !important;
    margin-top: 30% !important;
    border-radius: 10px;
}
	
}

.busca-promotor{

    margin-left: 6.5rem;
    margin-right: 6.5rem;
}

.busca-promotor input{
    padding: 0.22rem;
    font-size: 13.3333px;
}

.busca-promotor select{
    font-size: 13.3333px; 
}

.busca-promotor label{
    font-size: 14px;
    color: #000;
    
}

.busca-promotor button{
    font-family: 'Verdana';
    
    font-size: 14px;
    
    border: 1px 1px;
    margin: 0;
    line-height: 1.4rem;
}



@media only screen and (max-width: 360px){
	.logo img{
		width: 200px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
}

#subject{
    margin-left: 0 !important;
    width: inherit!important;
    padding: 0.3%;
    font-family: 'Verdana';
    font-size: 13px !important;
	border-radius: 5px
}

.background-erro{
    background-image: linear-gradient(120deg, rgb(156, 157, 226), rgb(240, 240, 240)) !important;
    background-size: contain;
    background-position-x: center;
    display: flex;
    justify-content: center;
}

.background-erro h1{
    color: rgb(156, 6, 6);
    text-shadow: 3px 3px 3px #ff810afb;
    font-size: 112px;
    margin: 0;
}

.botao-erro{
    display: inline-block;
    font-weight: 600;
    font-family: 'Verdana';
    color: #eef0f1;
    text-align: center;
    vertical-align: middle;
    background-color: #20589f;
    border: 1px solid transparent;
    padding: .45rem .9rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: .15rem;
    text-decoration: none;
}

.background-erro h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.fundo-erro{
    background-color: transparent;
    width: 50%;
    height: 50%;
    margin-top: 10%;
    border-radius: 10px;
}